h1 {
    color: #260fbf;
    border-bottom-style:solid;
    border-width:medium;
    border-color:#260fbf;
}

h3 {
    color:#f2073e;
    border-bottom-style:solid;
    border-width:medium;
    border-color:#f2073e;
}

h4 {
    color:#f2e2b0;
    border-bottom-style:solid;
    border-width:medium;
    border-color:#f2e2b0;
}
